/*===================================  FONTS  ============================================== */
@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Regular.eot');
	src: local('☺'),  url('../fonts/Muli-Regular.woff') format('woff'),  url('../fonts/Muli-Regular.ttf') format('truetype'),  url('../fonts/Muli-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Muli-Light';
	src: url('../fonts/Muli-Light.eot');
	src: local('☺'),  url('../fonts/Muli-Light.woff') format('woff'),  url('../fonts/Muli-Light.ttf') format('truetype'),  url('../fonts/Muli-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NixieOne';
	src: url('../fonts/NixieOne-Regular.eot');
	src: local('☺'),  url('../fonts/NixieOne-Regular.woff') format('woff'),  url('../fonts/NixieOne-Regular.ttf') format('truetype'),  url('../fonts/NixieOne-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*-------------------------------------------------------------*/

body {
	background-color: #f6f6f6;
	font-family: 'Muli-Light';
	margin: 0;
    height: 100%; /**    **/
    overflow:hidden;
}
#page {
	width: 100%;
	margin: 0 auto;
	padding: 96px 0 0;
}
img {
	border: 0;
}


/*================================  HEADER  ================================*/
#header {
	background-color: #303030;
	width: 100%;
	text-align: right;
	position: absolute;
	left: 0;
	top: 0;
}
#header > div {
	height: 0px;
	width: 1200px;
	margin: 5px auto;
	padding: 0 10px;
}
#header span.shadow {
	background-position: 0 -20px;
	display: block;
	height: 8px;
	width: 100%;
	position: absolute;
	bottom: -8px;
	z-index: 999;
}
/** Logo **/
#logo {
	float: left;
	display: inline-block;
	margin-top: 20px;
}

#logo > img {
	height: 80px;
	margin-bottom: 30px;
	padding: 0 0px;
}

/** Navigation **/
#navigation {
	display: inline-block;
	list-style: none;
	width: 480px;
	margin: 30px 0 0;
	padding-top: 20px;
}
#navigation li {
	float: left;
	margin-left: 17px;
}
#navigation li a {
	color: #8c8c8c;
	font-family: 'Muli-Light';
	font-size: 15px;
	line-height: 54px;
	padding: 0;
	text-decoration: none;
}
#navigation li a:hover{
	color: #fff;
}
#navigation li a:active{
    color: #fff;
}



/*================================ CONTENTS ================================*/
#contents > div {
	display: inline-block;
	width: 100%;
	padding-top: 42px;
  
}
#contents > div.body {
	width: 100%;
    min-height: 100%;
	margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}
#contents h2, #contents h3 {
	color: #000;
	font-family: 'NixieOne';
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 24px;
	text-transform: uppercase;
}
#contents p {
	color: #606060;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
}
#contents p a {
	color: #606060;
}
#contents p a:hover {
	color: #000;
}

/**=======  Main Page  ======== **/
#main_page{
    width: 100%;
    height: 600px;
    text-align: center;
    align-content: center;
    /**background-color: #0174CD;**/
    background-image: url(../images/main_image.jpg);
    background-size: auto 680px;
    background-repeat: no-repeat;

    padding-top:50px;
    /*padding-bottom:400px;*/
}

#main_page h2{
    /*text-shadow:20px 5px 2px #8c8c8c;*/
    font-size:60px; 
    font-weight: bolder;
}

#main_page p{
    /*text-shadow:20px 5px 2px #8c8c8c;*/
    font-size:30px; 
}

#main_page button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


/**===========  Register  ============ **/
#registration_form{
    text-align: center;
    align-content: center;
}
#registration_form table{
    text-align: right;
    border: groove 1px #666;
    padding-right: 90px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}


/**=======  Event  ======== **/
#event_list #nav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:23%;
    float:left;
    padding:5px; 
}
#event_list #nav h2 {
    text-align: center;
}

#event_list #nav table {
        padding-left: 20px;
}
#event_list #section {
    width:60%;
    float:left;
    padding:10px; 
}
#event_list #section h2 {
    text-align: center;
}


/**=======  Guests  ======== **/
#guests_list #nav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:23%;
    float:left;
    padding:5px; 
}
#guests_list #nav h2 {
    text-align: center;
}

#guests_list #nav table {
        padding-left: 20px;
}
#guests_list #section {
    width:60%;
    float:left;
    padding:10px; 
}
#guests_list #section h2 {
    text-align: center;
}


/**=======  Groups  ======== **/
#groups_list #nav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:23%;
    float:left;
    padding:5px; 
}
#groups_list #nav h2 {
    text-align: center;
}

#groups_list #nav table {
        padding-left: 20px;
}
#groups_list #groups {
    width:30%;
    float:none;
    padding:10px; 
}
#groups_list #groups h2 {
    text-align: center;
}
#groups_list #groups {
    width:30%;
    float:none;
    padding:10px; 
}
#groups_list #guests h2 {
    text-align: center;
}

/**=======  RSVPs  ======== **/
#rsvps_list #nav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:23%;
    float:left;
    padding:5px; 
}
#rsvps_list #nav h2 {
    text-align: center;
}

#rsvps_list #nav table {
        padding-left: 20px;
}
#rsvps_list #section {
    width:60%;
    float:left;
    padding:10px; 
}
#rsvps_list #section h2 {
    text-align: center;
}


/**=======  Gifts  ======== **/
#gifts_list #nav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:23%;
    float:left;
    padding:5px; 
}
#gifts_list #nav h2 {
    text-align: center;
}

#gifts_list #nav table {
        padding-left: 20px;
}
#gifts_list #section {
    width:60%;
    float:left;
    padding:10px; 
}
#gifts_list #section h2 {
    text-align: center;
}




/** GRID **/
.mGrid { 
    width: 75%; 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 2px #525252; 
    border-collapse:collapse; 
}
.mGrid td {         /** grid frame **/
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: #717171; 
}
.mGrid tr:hover {   /** grid line **/
    color: #fff;
    background-color: #8ac0fb;
}
.mGrid th {         /** grid header **/
    padding: 4px 2px; 
    color: #fff; 
    background: #0174CD url(../images/header_blue.png) repeat-x top; 
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
}
.mGrid .alt {
    background-color: #ecebf2;
}
.mGrid .pgr {
 
}
.mGrid .pgr table { 
    margin: 5px 0; 
}
.mGrid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
}
.mGrid .pgr a {
    color: #666; 
    text-decoration: none; 
}




/** Hover States **/
#schedules a.btn:hover, #performances #sidebar span.more:hover, #contact input.btn:hover {
	filter:alpha(opacity=90);
	opacity: 0.9;
}
/*============================= FOOTER =============================*/
#footer {
	background-color: #303030;
	color: #606060;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 24px;
	width: 100%;
	left: 0;
    position: fixed; 
    bottom: 0;
}

#footer h5 {
	font-size: 11px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
	text-transform: uppercase;
}
#footer a {
	color: #606060;
	text-decoration: none;
}
#footer a:hover {
	color: #000000;
}
#footer > div {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
#footer > div:after {
	clear:both;
	content:"";
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
}
#footer div.section {
	float: left;
	background-position: 0 -498px;
	min-height: 70px;
	width: 200px;
	margin-left: 20px;
	padding: 16px 0 16px 26px;
}
#footer div.section:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}
#footer ul {
	display: inline-block;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#footer li {
	margin: 0 0 6px;
}
#footer .navigation li, #footer .connect li {
	float: left;
	width: 100px;
}
